
// ファンクションズ
@use "functions/responsive.scss";




// モジュール


// ページ
@use "page/top";

html{
    font-size: 12px;
    color:#333;

}
.box{
    width: 200px;
    height: 200px;
    background-color: #333;
    margin-top: 20px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: #333;
    margin-top: 20px;
}


